body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  gap: 20px;
}
.card-base {
  border-radius: 10px;
  border: 1px solid #563015;
  background: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 153px;
}
.card-base h2 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.card-base img {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-hover {
  border-radius: 10px;
  border: 1px solid #563015;
  background: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 153px;
}
.card-hover h2 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.card-hover img {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
